#hero {
    background-image: url(~/img/jumbotron.jpg);
    height: 320px;
    background-size: cover;
    align-items: flex-end;
    justify-content: flex-start;

    div {
        background-color: #0282f9;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        padding: 0 20px;
        line-height: 40px;
        width: fit-content;
        margin-bottom: -20px;
    }
}
